{% extends 'base.html' %}

{% block head %}
<title>Продукт</title>
{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        <h4 class="mb-3">{{ product[1] }}</h4>
        <p><label>Код товара: {{ product[0] }}</label></p>
        <p><label>Цена: {{ product[2] }} руб.</label></p>
        <p><label>Описание: {{ product[3] }}</label></p>
        <p><label>Категория: {{ product[4] }}</label></p>
        <p><label>Производитель: {{ product[5] }}</label></p>
        <p><label>Скидка: {{ product[6] }}</label></p>
        <p><label>Вес: {{ product[7] }}</label></p>
        <p><label>Ширина: {{ product[8] }}</label></p>
        <p><label>Высота: {{ product[9] }}</label></p>
        <p><label>Длина: {{ product[10] }}</label></p>
        {% if user['name'] != -1 %}
        <hr class="my-4">
        <div class="text-center">
            <p>
                <button type="submit" class="btn btn-secondary" name="add_to_cart">В корзину</button>
            </p>
            <p>
                <button type="submit" class="btn btn-secondary" name="buy">Купить</button>
            </p>
            {% if user['role_name'] == "Admin" %}
            <p>
                <button type="submit" class="btn btn-secondary" name="delete">Удалить товар</button>
            </p>
            {% endif %}
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}